# Dependências
node_modules/

# Produção (Vite/React)
dist/
dist-ssr/
*.local

# Variáveis de Ambiente (SEGURANÇA CRÍTICA)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor e Sistema
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?